*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    color: #d5d5d5;
}

.flex{
  display: flex;
}

body{
    display: flex;
}

a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}

aside{
    width: 20%;
    background-color: hsl(240deg 1.33% 14.71%);
    height: 100vw;
    position: fixed;
}

.section{
    width: 80%;
    float: right; 
    margin: 2% 0 0;
    padding: 0 2%;
}

.section h2{
    padding: 15px;
    padding-bottom: 0;
    color: #fff;
}

.scroll-container {
    display: flex;
    overflow: auto;
    width: 100%;
  }
  
  .scroll-container div {
    padding: 15px;
    min-width: 20%;
    height: fit-content;
    cursor: pointer;
    
}

.section1 div {
    padding: 5px 25px;
    padding-left: 7px;
    min-width: 25%;
    height: fit-content;
    
}

.section2 div {
    padding: 5px 25px;
    padding-left: 7px;
    min-width: 30%;
    height: 240px;
    
}
.big-section{
  margin-top: 15%;
}
.big-section h1{
  font-size: 2em;
}

.big-section a{
  /* margin-bottom: 0; */
  font-size: .5em !important;
}

.big-section div{
    padding: 5px 25px;
    padding-left: 7px;
    min-width: 50%;
    height: 450px;
}

.section2 .scroll-container {
    display: flex;
    overflow-y: hidden;
    width: 100%;
  }

.scroll-container img {
    border-radius: 10px;
    width: 100%; 
    max-height: 80%;
  }

  .scroll-container div  a{
    padding-left: 2%;
    font-size: .85em;
  }

  .scroll-container div a:nth-child(4){
    color: #bbbabafa;
  }

  div.scroll-container::-webkit-scrollbar{
    display: none;
  }

  .section3{
    display: flex;
    flex-wrap: wrap;
  }
  .explore{
    display: flex;
    justify-content: space-between;
    width: 31%;
    margin: 1%;
    padding: 2%;
    background-color: #2a2a2a;
    border-radius: 10px;
    cursor: pointer;

  }

  .explore p,   .explore span{
    color: #fa586a ;
    background-color: #2a2a2a;
  }

  .newsongs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 31%;
    margin: 0 1%;
    padding: 1% 0% ;
    border-top: 1px solid grey;
    cursor: pointer;
  }
  
  .newsongs span{
    color: #fa586a ;

  }

  .newsongs img{
    width: 15%;
    border-radius: 5px;
    margin-right: 10px;
  }

  .newsongs div{
    /* display: flex; */
    align-items: center;
    color: #fff;
  }

  footer{
    padding: 2% 4%;
    font-size: .8em;
    width: 80%;
    float: right;
    margin-top: 2%;
  }
  footer ul{
    display: flex;
    width: 50%;
    justify-content: space-between;
  }

  footer p{
    margin: 2% 0;

  }

  /* #d7322d */
  /* #efb5b4 */